@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0f7fa;
    color: #00695c;
}

header {
    background-color: #3ab3b3;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #00796b;
}

nav a {
    color: #fff;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    display: block;
}

nav a:hover {
    background-color: #0ce2d0;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    width: 80%;
    margin: auto;
}

.service-item {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service-item h3 {
    margin-bottom: 10px;
    color: #00796b;
}

.service-item p {
    margin: 0;
    line-height: 1.5;
    color: #004d40;
}

.price {
    margin-top: 10px;
    color: #00acc1;
    font-size: 1.2em;
    font-weight: bold;
}

footer {
    background-color: #00796b;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}